<app-navbar></app-navbar>

<main class="bg-[#F2F2F2] w-full h-screen p-6 md:p-10">
  <h2 class="text-2xl font-bold mb-4">Change Password:</h2>

  <div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">



      <div class="mb-6">
        <input
        class="w-full focus:border-blue-600 focus:border-[1.5px] placeholder:text-gray-400 rounded-lg bg-white border-white mb-2"
        type="text" formControlName="password" placeholder="Type your password..." />
        @if (changePasswordForm.get('password')?.touched) {
        <div class="text-red-500 text-sm mb-2">
          @if (changePasswordForm.get('password')?.errors?.['required']) {
          <div>Password is required.</div>
          }

        </div>
        }
      </div>
      <div class="mb-6">
        <input
          class="w-full focus:border-blue-600 focus:border-[1.5px] placeholder:text-gray-400 rounded-lg bg-white border-white mb-2"
          type="text" formControlName="newPassword" placeholder="Type your new password..." />
        @if (changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid) {
        <div class="text-red-500 text-sm mb-2">
          @if (changePasswordForm.get('newPassword')?.errors?.['required']) {
          <div>Password is required.</div>
          }
          @if (changePasswordForm.get('newPassword')?.errors?.['pattern']) {
          <div>Password must start with uppercase and be at least 8 characters.</div>
          }
        </div>
        }
      </div>



      @if (err) {
      <p class="text-red-500 text-center mt-6">Password is incorrect</p>
      }

      <button type="submit" class="text-white bg-blue-600 rounded-md p-2 px-5 mt-6">Change Password</button>

    </form>
  </div>
</main>